
<template>

  <ion-card style="width: 200px; margin:auto;">
    <ion-label :style="dynamicTextSize">
      {{ someText }}
    </ion-label>
  </ion-card>

</template>

<script lang="ts" src="./autoTextResize.ts"></script>