
<!-- TODO: FIX IOS NOT VISIBLE -->
<template>

  <ion-header>

    <ion-toolbar>

      <ion-icon
          v-if="isLoggedIn"
          slot="start"
          name="menu"
          style="padding-left: 5px;"
          @click="toggleMenu();">
      </ion-icon>
      <ion-title class="ion-text-center">
        Betteranki
      </ion-title>
    </ion-toolbar>

  </ion-header>

  <ion-menu side="start" menu-id="main-menu"  content-id="main-outlet">

    <ion-header>

      <ion-toolbar>
        <ion-icon
            slot="end"
            name="close"
            style="padding-right: 5px; color:red;"
            @click="toggleMenu();">
        </ion-icon>
        <ion-title class="ion-text-center">Menu</ion-title>
      </ion-toolbar>

    </ion-header>

    <ion-content class="ion-no-padding ion-no-margin">

      <ion-list class="ion-no-padding ion-no-margin">

        <ion-item @click="goHome()" >
          <ion-icon slot="start" name="home" color="primary"></ion-icon>
          Home
        </ion-item>

        <ion-item @click="goDecks()" >
          <ion-icon slot="start" name="albums-outline" color="primary"></ion-icon>
          Decks
        </ion-item>

        <ion-item @click="goDiscover()" >
          <ion-icon slot="start" name="compass-outline" color="primary"></ion-icon>
          Discover
        </ion-item>

        <ion-item @click="goDashboard()" >
          <ion-icon slot="start" name="stats-chart-outline" color="primary"></ion-icon>
          Dashboard
        </ion-item>

        <ion-item @click="goLogin()" >
          <ion-icon slot="start" :name="isLoggedIn ? 'person-outline' : 'log-in-outline' " color="primary"></ion-icon>
          {{ isLoggedIn ? 'Account' : 'Login'}}
        </ion-item>

      </ion-list>

    </ion-content>

  </ion-menu>

</template>

<script lang="ts" src="./main-menu.ts"></script>