

<template>


  <div v-if="decks !== undefined">
    <ion-row v-for="deck in decks" :key="deck.id">
      <deck-item
          :deck="deck"
          :deckItemActions="deckItemActions"
          :favouriteCallback="favouriteCallback"
          :saveInsteadOfFavourite="saveInsteadOfFavourite">
      </deck-item>
    </ion-row>
  </div>

  <ion-row v-if="decks.length <= 0">
    <ion-col>
      <ion-card>
        <ion-item>
          <ion-label>
            No Decks available for current Filters
          </ion-label>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>

</template>

<script lang="ts" src="./deckList.ts"></script>