

<template>

  <ion-row style="width: 100%;">

    <ion-col style="padding:0;" size="12" offset-lg="4" size-lg="4" offset-md="2" size-md="8">

      <ion-card style="padding: 0; margin:1%;  border-radius: 10px; border: 1px solid rgba(0,153,255,0.1);">
        <ion-accordion-group>
          <ion-accordion value="first">

            <div slot="header">

              <ion-card-header class="ion-no-padding ion-no-margin">
                <ion-card-title>
                  <ion-item lines="none">

                    <ion-icon v-if="!saveInsteadOfFavourite" @click="onFavouriteClicked($event)" slot="start" :name="isFavourite ? 'heart': 'heart-outline'" color="primary"></ion-icon>

                    <ion-icon v-if="saveInsteadOfFavourite" @click="onSaveClicked($event)" slot="start" name="save" color="primary"></ion-icon>
                    <ion-badge color="medium" slot="end">{{deck.cards.length }}</ion-badge>
                    <ion-label>{{ deck.name }}</ion-label>
                  </ion-item>
                </ion-card-title>
              </ion-card-header>

              <ion-card-content class="ion-no-padding ion-no-margin">
                <tag-list :tags="deck.tags"> </tag-list>
              </ion-card-content>

            </div>

            <!-- List of Deck Item Actions -->
            <ion-item
                v-for="deckItemAction in deckItemActions ?? []"
                v-bind:key="deckItemAction"
                class="optionItem"
                color="light"
                lines="none"
                @click="stopPropagation($event); deckItemAction.clickHandler(deck)"
                slot="content">
                <ion-icon v-if="deckItemAction.label != 'share'" :name="deckItemAction.iconName" style="color:var(--ion-color-primary);" slot="end"></ion-icon>
                <ion-label  v-if="deckItemAction.label != 'share'" style="color: var(--ion-color-light-contrast);">
                  {{ deckItemAction.label }}
                </ion-label>
                <ion-icon v-if="deckItemAction.label == 'share'" :name="deck.shared ? 'cloud-offline' : deckItemAction.iconName" style="color:var(--ion-color-primary);" slot="end"></ion-icon>
                <ion-label  v-if="deckItemAction.label == 'share'" style="color: var(--ion-color-light-contrast);">
                  {{ deck.shared ? 'unshare' : deckItemAction.label }}
                </ion-label>
            </ion-item>

          </ion-accordion>

        </ion-accordion-group>

      </ion-card>

    </ion-col>

  </ion-row>


</template>

<script lang="ts" src="./deck-item.ts"></script>