#container {
    text-align: center;

    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}


.card-container {
    height: 35vh;
    padding-inline: 7px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ion-card-content{
    overflow: scroll;
}

.answer-button {
    margin: 0;
    /* margin-bottom: 3vh; */
    width: 100%;
}

ion-footer{
    padding-bottom: 20px;
}