<template>

  <ion-page>
    <ion-content>

      <ion-grid v-if="cards !== undefined && cards.length > 0 && !dashboardModus">

        <ion-row class="ion-text-center">
          <ion-col>
            <h4>{{ this.deck.name }}</h4>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-card class="card-container">
            <ion-card-content
                ref="question"
                v-html="cards[currentCardIndex].question_html"
                :style="dynamicQuestionSize">
            </ion-card-content>
          </ion-card>
        </ion-row>

        <ion-row v-if="answerVisible">
          <ion-card class="card-container">
            <ion-card-content
                ref="answer"
                v-html="cards[currentCardIndex].answer_html"
                :style="dynamicAnswerSize">
            </ion-card-content>
          </ion-card>
        </ion-row>

      </ion-grid>

      <!-- Result Dashboard -->
      <ion-card style="height: 70%;" v-if="dashboardModus">
        <ion-grid style="height: 100%;">

          <ion-row style="height: 70%;">
            <ion-col></ion-col>
            <ion-col>
              <div :style="barStyleEasy"></div>
            </ion-col>
            <ion-col></ion-col>
            <ion-col>
              <div :style="barStyleGood"></div>
            </ion-col>
            <ion-col></ion-col>
            <ion-col>
              <div :style="barStyleHard"></div>
            </ion-col>
            <ion-col></ion-col>
            <ion-col>
              <div :style="barStyleAgain"></div>
            </ion-col>
            <ion-col></ion-col>
          </ion-row>

          <ion-row style="height: 10%;">
            <ion-col size="3"><ion-item lines="none"><ion-label>Easy</ion-label></ion-item></ion-col>
            <ion-col size="3"><ion-item lines="none"><ion-label>Good</ion-label></ion-item></ion-col>
            <ion-col size="3"><ion-item lines="none"><ion-label>Hard</ion-label></ion-item></ion-col>
            <ion-col size="3"><ion-item lines="none"><ion-label>Again</ion-label></ion-item></ion-col>
          </ion-row>

          <ion-row style="height: 10%;">
            <ion-col size="3"><ion-item lines="none"><ion-label>{{ easyCardsCounter}}</ion-label></ion-item></ion-col>
            <ion-col size="3"><ion-item lines="none"><ion-label>{{ goodCardsCounter}}</ion-label></ion-item></ion-col>
            <ion-col size="3"><ion-item lines="none"><ion-label>{{ hardCardsCounter}}</ion-label></ion-item></ion-col>
            <ion-col size="3"><ion-item lines="none"><ion-label>{{ againCardsCounter}}</ion-label></ion-item></ion-col>
          </ion-row>

          <ion-row style="height: 10%">
            <ion-col></ion-col>
            <ion-col><ion-button @click="this.$router.go(-1);">Back</ion-button></ion-col>
            <ion-col></ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>

      <!-- Result Dashboard -->

    </ion-content>



    <ion-footer class="ion-align-items-center ion-text-center" v-if="!dashboardModus">
      <ion-grid>
        
        <ion-row v-if="!answerVisible">
          <ion-col>
            <ion-button @click="showResult()" class="answer-button">
              Show Solution
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row v-if="answerVisible">
          <ion-col size="3">
            <ion-button @click="nextCard(0)" class="answer-button" color="danger" fill="outline">
              Again
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button @click="nextCard(1)" class="answer-button" color="warning" fill="outline">
              Hard
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button @click="nextCard(2)" class="answer-button" fill="outline">
              Good
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button @click="nextCard(3)" class="answer-button" color="success" fill="outline">
              Easy
            </ion-button>
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-footer>


  </ion-page>
</template>

<script lang="ts" src="./learn-page.component.ts"></script>
