







<template>

  <ion-card style="border-radius: 10px; margin:2%;">
    <ion-accordion-group>
      <ion-accordion value="first">

        <div slot="header" @click="onToggleDropDown()">
          <ion-card-header class="ion-no-padding" style="background-color: transparent" >
            <ion-card-title>
              <ion-item  style="background-color: transparent">
                <ion-label> {{card.name ?? 'no title'}}</ion-label>

                <!-- drop down/up icon -->
                <ion-icon
                    slot="start"
                    :name="dropDown"
                    style="color:var(--ion-color-primary);">
                </ion-icon>
                <!-- drop down/up icon -->

                <ion-icon
                    v-if="!readOnly"
                    @click="goToCardHandler(card.id)"
                    slot="end"
                    name="pencil"
                    style="color:var(--ion-color-primary);">
                </ion-icon>
                <ion-icon
                    v-if="!readOnly"
                    @click="deleteCardHandler(card.id)"
                    slot="end"
                    name="close"
                    style="color:red;">
                </ion-icon>
              </ion-item>
            </ion-card-title>
          </ion-card-header>
        </div>

        <!-- Accordion Dropdown display card answer and question -->
        <ion-card-content
            @click="goToCardHandler(card.id)"
            class="ion-no-padding ion-no-margin"
            slot="content">
          <ion-col>
            <ion-row>
              <ion-col></ion-col>
              <ion-label> Question: </ion-label>
              <ion-col></ion-col>
            </ion-row>
            <ion-row>
              <ion-label v-html="card.question_html"></ion-label>
            </ion-row>
          </ion-col>
          <ion-item-divider></ion-item-divider>
          <ion-col>
            <ion-row>
              <ion-col></ion-col>
              <ion-label> Answer: </ion-label>
              <ion-col></ion-col>
            </ion-row>
            <ion-row>
              <ion-label v-html="card.answer_html"></ion-label>
            </ion-row>
          </ion-col>
        </ion-card-content>

      </ion-accordion>
    </ion-accordion-group>
  </ion-card>

</template>

<script lang="ts" src="./cardItem.ts"></script>