<template>

  <ion-fab
      vertical="bottom"
      horizontal="end"
      slot="fixed" v-if="actions !== undefined && actions.length > 0">

    <ion-fab-button>
      <ion-icon name="arrow-up-outline" color="white" style="font-size: 30px;"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top" >
      <ion-fab-button v-for="action in actions" :key="action.iconName">
        <ion-icon v-bind:name="action.iconName" color="primary" @click="action.handler" size="small"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>

  </ion-fab>

</template>

<script lang="ts" src="./floating-action-sheet-button.ts"></script>