<template>

  <ion-page>
    <ion-content>

      <ion-grid>
        <ion-row class="ion-text-center">
          <ion-col>
            <h1>Dashboard</h1>
          </ion-col>
        </ion-row>

        <ion-row class="ion-text-center">
          <ion-col>
            <h4>Card Count</h4>
            <dash-board ref="cardCountChart"></dash-board>
          </ion-col>
        </ion-row>

        <ion-row class="ion-text-center">
          <ion-col>
            <h4>Learned Cards</h4>
            <dash-board ref="learnedCardsChart"></dash-board>
          </ion-col>
        </ion-row>

        <ion-row class="ion-text-center">
          <ion-col>
            <h4>Answer Scores</h4>
            <dash-board ref="scoreChart"></dash-board>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-content>
  </ion-page>

</template>

<script lang="ts" src="./LearnStatistic.component.ts"></script>