<template>

  <ion-page>

    <ion-content>

      <ion-grid class="ion-no-margin ion-no-padding" style="height: 100%;">

        <!-- Title Input Field -->
        <ion-row class="ion-no-margin ion-no-padding">
          <ion-col class="ion-no-margin ion-no-padding">
            <ion-card class="ion-no-margin">
                  <text-input-field
                      label="Card Title"
                      type="text"
                      ref="titleInputField">
                  </text-input-field>
            </ion-card>
          </ion-col>
        </ion-row>


        <!-- Selection  Qestion/Answer -->
        <ion-row>
          <ion-col>
            <ion-segment
                :value="questionState"
                @ionChange="changeState($event)"
                style="width: 100%;">
              <ion-segment-button
                  v-bind:value="state"
                  v-for="state of [true,false]"
                  v-bind:key="state">
                <ion-label style="font-size: 15px">{{ state ? 'Question' : 'Answer'  }}</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-col>
        </ion-row>


        <!-- Richtext editors for answer and question, vorsicht hidden anstelle v-if nötig damit elemente erreichbar-->
        <ion-row :hidden="!questionState" style="height:75%;">
          <ion-col>
            <rich-text-editor
                v-bind:editorContent="card.question_html"
                ref="questionEditor">
            </rich-text-editor>
          </ion-col>
        </ion-row>

        <ion-row :hidden="questionState" style="height:75%;">
          <ion-col>
            <rich-text-editor
                v-bind:editorContent="card.answer_html"
                ref="answerEditor">
            </rich-text-editor>
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-content>

    <!-- Submit Form -->
    <ion-row>

      <ion-col class="ion-no-margin ion-no-padding" style="margin-right: 1px; margin-left: 1px;">
        <ion-button color="danger" @click="onBackPressed()" style="width: 100%;">
          <ion-icon name="arrow-back-outline" style="font-size: 25px"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col class="ion-no-margin ion-no-padding" style="margin-right: 1px; margin-left: 1px;">
        <ion-button @click="submitForm" style="width: 100%;">
          Save
        </ion-button>
      </ion-col>

    </ion-row>


  </ion-page>

</template>

<script lang="ts" src="./card-edit-page.ts"></script>