<template>

  <ion-page>

    <ion-content>

      <!-- Placeholder -->
      <div style="height: 5%;">
        <h1 class="ion-text-center">Register</h1>
      </div>

      <!-- Form -->
      <ion-grid>

        <!-- Username Field-->
        <ion-row>
          <ion-col>
            <ion-card>
              <text-input-field
                  :validators="loginValidators"
                  label="Username"
                  ref="loginRef">
              </text-input-field>
            </ion-card>
          </ion-col>
        </ion-row>

        <!-- Email Field-->
        <ion-row>
          <ion-col>
            <ion-card>
              <text-input-field
                  :validators="emailValidators"
                  label="Email"
                  ref="emailRef">
              </text-input-field>
            </ion-card>
          </ion-col>
        </ion-row>

        <!-- Password Field-->
        <ion-row>
          <ion-col>
            <ion-card>
              <text-input-field
                  :validators="pwValidators"
                  label="Password"
                  type="password"
                  ref="pwRef">
              </text-input-field>
            </ion-card>
          </ion-col>
        </ion-row>

        <!-- Password Repeat Field-->
        <ion-row>
          <ion-col>
            <ion-card>
              <text-input-field
                  :validators="pwRepeatValidators"
                  label="Password repeat"
                  type="password"
                  ref="pwRepeatRef">
              </text-input-field>
            </ion-card>
          </ion-col>
        </ion-row>

        <!-- GO TO LOGIN -->
        <ion-row>
          <ion-col>
            <ion-item lines="none" class="ion-text-center">
              <ion-label style="color:black;">Sie haben schon einen Account ? </ion-label>
            </ion-item>
            <ion-item lines="none" class="ion-text-center">
              <ion-label>
                <a
                    style="color:black; text-decoration: underline; text-decoration-color: var(--ion-color-primary)"
                    @click="this.$router.push('/login')">
                  Zum Login
                </a>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- REGISTER  -->
        <ion-row>
          <ion-col>
            <ion-button
                @click="register()"
                style="width: 100%">
              Register
            </ion-button>
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-content>

  </ion-page>

</template>

<script lang="ts" src="./register-page.component.ts"> </script>
