

<template>

  <ion-item fill="solid">
    <ion-label position="floating">{{ label}}</ion-label>
    <ion-input :type="type"
               :value="content"
               :autocomplete="autocomplete"
               @IonChange="onIonChange">
    </ion-input>
    <ion-note
        v-if="errorLabel !== ''"
        style="color: var(--ion-color-danger)">
      {{ errorLabel }}
    </ion-note>
  </ion-item>

</template>

<script lang="ts" src="./TextInputField.ts"></script>
