<template>

  <ion-page>
    <ion-content>

      <ion-grid>

        <ion-row v-if="decks !== undefined">
          <ion-col class="ion-text-center">
            <h1 style=" font-size:10vw;">Favourites</h1>
          </ion-col>
        </ion-row>

        <ion-row v-if="decks !== undefined">
          <ion-col>
            <deck-list
                :decks="decks"
                :deckItemActions="[
                        {label: 'edit', clickHandler: onGoToDeckPressed, iconName: 'pencil',},
                        {label: 'learn', clickHandler: onLearnDeckPressed, iconName: 'book', },
                        {label: 'share', clickHandler: onSharePressed, iconName: 'cloud-upload', },
                        {label: 'delete', clickHandler: onDeleteDeckPressed, iconName: 'trash',},
                    ]"
                :favouriteCallback=" () => { this.decks = this.decks.filter((deck) => deck.favourite)}"
            >
            </deck-list>
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-content>

  </ion-page>

</template>

<script lang="ts" src="./HomePage.ts"></script>