<template>

  <ion-page>

    <ion-content>

      <ion-grid class="ion-no-margin ion-no-padding">

        <!-- Title -->
        <ion-row class="ion-no-margin ion-no-padding">
          <ion-col class="ion-no-margin ion-no-padding">

            <ion-card v-if="!readOnly">
              <text-input-field
              :label="'Deck Name'"
              :helperLabel="'Deck Name'"
              ref="deckTitle">
              </text-input-field>
            </ion-card>

            <!-- placeholder -->
            <ion-label>
              <h1 v-if="readOnly" class="ion-text-center"> {{ deck.name }}</h1>
            </ion-label>

          </ion-col>
        </ion-row>
        <!-- Title -->

        <!-- Add Tags to deck -->
        <ion-row style="margin:1%;">

          <ion-col class="ion-no-padding ion-no-margin">
            <ion-card class="ion-no-padding ion-no-margin" >
              <ion-row>

                <ion-col size="10">
                  <ion-item lines="none" v-if="deck.tags.length > 0">
                    <!-- Tag List -->
                    <tag-list
                        :tags="deck.tags"
                        :deletable="true">
                    </tag-list>
                  </ion-item>
                </ion-col>

                <!-- Placeholder -->
                <ion-col size="10" v-if="deck.tags.length <= 0">
                  <ion-item lines="none">
                    <ion-label>
                      <h2>no Tags</h2>
                    </ion-label>
                  </ion-item>
                </ion-col>

                <ion-col
                    size="2"
                    v-if="!readOnly">
                  <ion-button @click="openTagCreationModal()">
                    <ion-icon name="add" style="font-size: 200%;"></ion-icon>
                  </ion-button>
                </ion-col>

              </ion-row>
            </ion-card>
          </ion-col>

        </ion-row>
        <!-- Add Tags to deck -->


        <!-- Placeholder if deck not created yet -->
        <div class="ion-no-margin ion-no-padding" v-if="this.$route.params.id  === '' ">
          <ion-card>
            <ion-item lines="none">
              <ion-label>
                Save the deck to add Cards.
              </ion-label>
            </ion-item>
          </ion-card>
        </div>

        <!-- cards of deck -->
        <div class="ion-no-margin ion-no-padding" v-if="this.$route.params.id  !== '' ">
            <!-- Add Card to deck -->
            <ion-row class="ion-text-center" style="margin: 1%;" v-if="!readOnly">
              <ion-col>
                <ion-card @click="onGoToCardPressed(undefined)" class="ion-no-margin ion-no-padding" color="primary">
                  <ion-icon name="add" ></ion-icon>
                </ion-card>
              </ion-col>
            </ion-row>

            <!-- Card List of deck-->
            <ion-row>
              <ion-col>

                <!-- Placeholder -->
                <ion-item v-if="cards.length <= 0">
                  <ion-col size="12">
                    <ion-row>
                      <ion-col></ion-col>
                      <ion-label> no cards</ion-label>
                      <ion-col></ion-col>
                    </ion-row>
                  </ion-col>
                </ion-item>

                <!-- Card list -->
                <card-item v-for="card in cards" :key="card.id"
                           :goToCardHandler="onGoToCardPressed"
                           :deleteCardHandler="onRemoveCardPressed"
                           :card="card"
                           :readOnly="readOnly">
                </card-item>

              </ion-col>
            </ion-row>
        </div>
        <!-- cards of deck -->

      </ion-grid>


    </ion-content>

    <!-- Submit Form -->
    <ion-row>

      <ion-col class="ion-no-margin ion-no-padding" style="margin-right: 1px; margin-left: 1px;">
        <ion-button color="danger" @click="onGoBackPressed()" style="width: 100%;">
          <ion-icon name="arrow-back-outline" style="font-size: 25px"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col
          v-if="!readOnly"
          class="ion-no-margin ion-no-padding"
          style="margin-right: 1px;
          margin-left: 1px;">
        <ion-button @click="save()" style="width: 100%;">
          Save
        </ion-button>
      </ion-col>

    </ion-row>

  </ion-page>

</template>

<script lang="ts" src="./deckEditPage.ts"></script>