<template>

  <ion-page>
    <ion-content>

      <ion-grid>

        <ion-row v-if="decks !== undefined">
          <ion-col class="ion-text-center">
            <h1 style=" font-size:10vw;">Discover</h1>
          </ion-col>
        </ion-row>

        <ion-row v-if="decks !== undefined">
          <ion-col>
            <deck-list
                :decks="decks"
                :deckItemActions="[
                    //{label: 'learn', clickHandler: onLearnDeckPressed, iconName: 'book', },
                    {label: 'view', clickHandler: onViewDeckPressed, iconName: 'eye', },
                ]"
                saveInsteadOfFavourite="true">
            </deck-list>
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-content>

  </ion-page>

</template>

<script lang="ts" src="./DiscoverScreen.ts"></script>