<template>

  <ion-page>

    <ion-content>

      <!-- LOGOUT IF LOGGED IN  -->
      <div v-if="isLoggedIn && accountDataLoaded">
        <!-- <ion-card> -->
          <ion-grid>
            <ion-row>
              <ion-col class="ion-text-center">
                <h1>Account</h1>
              </ion-col>
            </ion-row>



            <ion-row>
              <ion-col class="ion-text-center">
                <ion-icon name="person-outline" color="primary" style="font-size: 30vw;"></ion-icon>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col class="ion-text-center">
                <h4>@{{ user.username }}</h4>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col class="ion-text-center">
                <ion-text color="medium">{{ user.email }}</ion-text>
              </ion-col>
            </ion-row>

          </ion-grid>
        <!-- </ion-card> -->
      </div>

      <!-- Login Page -->
     <div v-if="!isLoggedIn">
       <!-- Placeholder -->
       <div style="height: 5%;">
         <h1 class="ion-text-center">Login</h1>
       </div>

       <!-- Form -->
       <ion-grid>
        <form>
         <!-- Username Field-->
         <ion-row>
           <ion-col>
             <ion-card>
               <text-input-field
                   type="text"
                   autocomplete="username"
                   :validators="loginValidators"
                   label="Username"
                   ref="loginRef">
               </text-input-field>
             </ion-card>
           </ion-col>
         </ion-row>

         <!-- Password Field-->
         <ion-row>
           <ion-col>
             <ion-card>
               <text-input-field
                   type="password"
                   autocomplete="current-password"
                   :validators="pwValidators"
                   label="Password"
                   ref="pwRef">
               </text-input-field>
             </ion-card>
           </ion-col>
         </ion-row>

         <!-- Remember me Checkbox -->
         <ion-row>
           <ion-col>
             <ion-item>
               <ion-checkbox :value="rememberMe"></ion-checkbox>
               <div style="width: 10px;"></div>
               <ion-label>Remember me</ion-label>
             </ion-item>
           </ion-col>
         </ion-row>


         <!-- GO TO REGISTER -->
         <ion-row>
           <ion-col>
             <ion-item lines="none" class="ion-text-center">
               <ion-label style="color:black;">Noch keinen Account ? </ion-label>
             </ion-item>
             <ion-item lines="none" class="ion-text-center">
               <ion-label>
                 <a
                     style="text-decoration: underline;"
                     @click="this.$router.push('/register')">
                   Jetzt registrieren
                 </a>
               </ion-label>
             </ion-item>
           </ion-col>
         </ion-row>

         <!-- LOGIN -->
         <ion-row>
           <ion-col>
             <ion-button
                 @click="onloginClicked()"
                 style="width: 100%">
               Login
             </ion-button>
           </ion-col>
         </ion-row>
        </form>
       </ion-grid>
     </div>

    </ion-content>

    <ion-footer v-if="isLoggedIn">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-button @click="logout()" expand="block" fill="solid">
              Logout
              <!-- <ion-icon name="log-out" color="white"></ion-icon> -->
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="ion-text-center">
            <ion-button color="danger" expand="block" fill="outline" @click="deleteAccount()">
              Delete Account
              <!-- <ion-icon name="log-out" color="white"></ion-icon> -->
            </ion-button>
          </ion-col>
        </ion-row>

      </ion-grid>

  </ion-footer>

  </ion-page>

</template>

<script lang="ts" src="./login-page.component.ts"> </script>
