




<template>

  <!-- Tags -->
  <ion-row scrollX="true" class="scroll-items ion-no-margin ion-no-padding" style="background-color: transparent">
    <ion-col v-for="(tag, index) in tags ?? []" :key="tag" class="ion-no-margin" style="padding-top:0; padding-bottom: 0;">
      <ion-chip :color="getTagColor(index)" outline="true">
        <ion-label>{{ tag.name }}</ion-label>
        <ion-icon
            v-if="deletable"
            @click="deleteTag(tag)"
            name="close"
            color="danger"
            style="font-size: 7vw;">
        </ion-icon>
      </ion-chip>
    </ion-col>
    <ion-col push="1">
    </ion-col>
  </ion-row>

</template>

<script lang="ts" src="./tagList.ts"></script>