<template>


  <ion-page>
    <ion-content>

      <div v-if="isLoading" class="ion-text-center">
        <ion-row>
          <ion-col>
            <ion-label>
              Loading
            </ion-label>
          </ion-col>
        </ion-row>
      </div>

      <div v-if="!isLoading">

        <ion-grid>
          <ion-row class="ion-text-center">
            <ion-col>

              <ion-row>
                <ion-col
                    style="padding-top: 10%; font-size:10vw;"
                    class="ion-text-center"
                    id="deck-names-header-col">
                  Decks
                </ion-col>
              </ion-row>

              <ion-row v-if="filter.length > 0">
                <ion-col>
                  <ion-button @click="reload()">
                    <ion-item lines="none" color="primary">
                      <ion-text>Reset Filters</ion-text>
                    </ion-item>
                  </ion-button>
                </ion-col>
              </ion-row>

              <div>
                <ion-row v-for="f in filter" :key="f">
                  <ion-col>
                    <ion-item>
                      <ion-label>
                        {{ f }}
                      </ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </div>

              <deck-list
                  :decks="displayedDecks"
                  :deckItemActions="[
                        {label: 'learn', clickHandler: onLearnDeckPressed, iconName: 'book', },
                        {label: 'edit', clickHandler: onGoToDeckPressed, iconName: 'pencil',},
                        {label: 'share', clickHandler: onSharePressed, iconName: 'cloud-upload', },
                        {label: 'delete', clickHandler: onDeleteDeckPressed, iconName: 'trash',},
                    ]">
              </deck-list>

            </ion-col>
          </ion-row>
        </ion-grid>



      </div>
    </ion-content>

    <floating-action-sheet-button
        v-if="tags !== undefined"
        :actions=" [
          {
            iconName: 'add',
            handler: onAddClicked,
          },
          {
            iconName: 'search',
            handler: search,
          },
          {
            iconName: 'pricetag',
            handler: () => { filterTags(tags);  },
          }
         ]">
    </floating-action-sheet-button>

  </ion-page>

</template>

<script lang="ts" src="./DecksOverviewPage.ts">



</script>