

.suggestionElement {

 border: 1px solid var(--ion-color-primary);
 margin-top: 1px;
 border-radius: 3px;
 background-color: var(--ion-color-light);
 color: var(--ion-color-primary);
 font-size: 20px;
 padding:10px;

}