




<template>

    <ion-content>

      <ion-header>
        <ion-toolbar>
          <ion-row>
            <ion-title class="ion-text-center">
              Create Tag
            </ion-title>
          </ion-row>
        </ion-toolbar>
      </ion-header>

      <ion-content>

        <ion-grid style="margin-top: 15%">
          <ion-row class="ion-text-center">
            <ion-col>
              <ion-icon name="pricetag" style="font-size: 20vw;" color="primary"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-card>
                <text-input-field
                    label="Tag Name"
                    type="text"
                    :onChange="updateMatchingTags"
                    :validators="validators"
                    ref="input">
                </text-input-field>
                <div
                    v-for="tag in matchingTags" :key="tag.name"
                    class="ion-text-center suggestionElement"
                    @click="input.setContent(tag.name)">
                  <ion-label>
                    {{ tag.name }}
                  </ion-label>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-content>


    </ion-content>

  <ion-row>
    <ion-col size="6">
      <ion-button @click="cancel()" color="danger" style="width: 100%;">Cancel</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button @click="onConfirmPressed()" style="width: 100%;">Save</ion-button>
    </ion-col>
  </ion-row>

</template>

<script lang="ts" src="./tagCreationModal.ts"></script>