

<template>

  <ion-app>

    <main-menu></main-menu>

    <ion-content>
      <ion-router-outlet id="main-outlet"></ion-router-outlet>
    </ion-content>

  </ion-app>

</template>

<script lang="ts" src="./app.component.ts"></script>
