<template>

  <quill-editor
      style="height: 100%;"
      :value="editorContent"
      @content-change="sync"
      ref="editor">
  </quill-editor>

</template>


<script lang="ts" src="./rich-text-editor.ts"></script>
