

ion-content .gradient {
    --background: linear-gradient(130deg,var(--ion-color-primary-contrast) 5%, rgba(var(--ion-color-primary-rgb), 0.3) ,var(--ion-color-primary-contrast) );
}

ion-toolbar {
    --ion-background-color: var(--ion-color-primary);
}

ion-title {
    --ion-background-color: transparent;
    color:white;
}


::-webkit-scrollbar,
*::-webkit-scrollbar {
    display: none;
}
